body {
  font-family: Inconsolata, "Consolas", "Menlo", "Monaco", "Andale Mono", "DejaVu Mono", "Bitstream Vera Mono", monospace;
  font-size: 16px;
  color: white;
  text-align: center;

  /* since we only weird text-floating-over-backgrounds */
  -webkit-font-smoothing: antialiased;
}

a {
  color: white;
}

a:hover, a:focus {
  color: white;
  text-decoration: underline;
}

.main_container {
  background: black url('images/bg.jpg') center top no-repeat fixed;
  background-size: cover;
  position: absolute;
  overflow: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.title a {
  color: rgba(255, 255, 255, 0.6);
}
.title a > b {
  color: white;
}

.title a:hover, .title a:focus {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.lead {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
}

/* special button style */

.btn-outline {
  border: 1px solid rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.25);
} 

.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  color: #563d7c;
  text-shadow: none;
  background-color: #fff;
  border-color: #fff;
} 

/* specific bootstrap overrides */

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: bold;
  text-transform: uppercase;
}

.jumbotron {
  background: transparent;
}

@media screen and (min-width: 768px) {
  .jumbotron h1, .jumbotron .h1 {
    font-size: 48px;
  }
}

@media (min-width: 768px) {
  .lead {
    font-size: 18px;
  }
}