body {
  font-family: Inconsolata, "Consolas", "Menlo", "Monaco", "Andale Mono", "DejaVu Mono", "Bitstream Vera Mono", monospace;
  font-size: 16px;
  color: white;
  text-align: center;
/*  background: black url('images/bg.jpg') center top no-repeat fixed;
  background-size: cover;
*/  padding-bottom: 72px;
background: #222;

  /* since we only weird text-floating-over-backgrounds */
  -webkit-font-smoothing: antialiased;
}

a {
  color: white;
}

a:hover, a:focus {
  color: white;
  text-decoration: underline;
}

.title a {
  color: rgba(255, 255, 255, 0.6);
}
.title a > b {
  color: white;
}

.title a:hover, .title a:focus {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.lead {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
}

.header {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
}

.header a {
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .jumbotron {
    padding: 20px 0 0 0;
  }
}



/* nav bar */

.navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: transparent;
  text-transform: uppercase;
  height: auto;
  padding-top: 10px;
  transition: background 0.2s;
}

.overflowing .navigation {
  background: rgba(0,0,0,0.8);
}

.navigation > .row {
  margin: 0px auto;
  width: 100%;
}

@media (min-width: 1140px) {
  .navigation > .row {
    width: 80%;
    margin: 0px auto;
  }
}



.navigation .btn-lg {
  width: 100px;
  height: 50px;
  padding: 12px 16px;
}

.navigation .btn-lg.btn-outline {
  width: 154px;
}

@media (max-width: 992px) {
  .navigation .btn-lg {
    width: 69px;
  }

  .navigation .btn-lg.btn-outline {
    width: 130px;
  }
}


.navigation .btn-sm {
  width: 50px;
  height: 30px;
  margin-bottom: 10px;
  font-size: 14px;
}

.issue_indicator {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
}

/* special button styles */

.btn-outline {
  border: 1px solid rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.25);
  transition: all 0.2s;
  color: white;
} 

.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border-color: #fff;
} 

.btn-link, .btn-link:hover {
  color: white;
}

.extra_actions .btn {
  padding-top: 0;
  height: auto;
}

/* news popover */

#news_btn {
  width: 40px;
  height: 40px;
  opacity: 0.2;
  vertical-align: top;
  transition: opacity 0.1s;
  padding: 0;
  margin-right: -40px;
}

#news_btn:hover, #news_btn:focus {
  outline: none;
  color: white;
  opacity: 1;
  text-decoration: none
}


.popover {
  background-color: rgba(0, 0, 0, 0.8);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  word-wrap: break-word;
  max-width: 500px;
  box-shadow: none;
  border: 0 none;
}

.popover.left .arrow:after {
  border-left-color: rgba(0, 0, 0, 0.75);
}

/* list page */
.nav > li > a {
  transition: background-color 0.1s;
}

.nav > li > a:hover {
  background-color: rgba(255,255,255,0.2);
}

/* about page */
.post-content {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: left;
  background-color: rgba(255,255,255,0.8);
  color: black;
  padding: 40px;
  border-radius: 5px;
  max-width:960px;
}

.post-content a {
  color: #0E5A9C;
}

hr {
  border-color: black;
}

/* specific bootstrap overrides */

h1, .h1 {
  font-family: inherit;
  font-weight: bold;
  text-transform: uppercase;
}

.jumbotron {
  background: transparent;
  margin-bottom: 0;
}

.jumbotron.short {
  padding-bottom: 0;
}

@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 70px;
    padding-bottom: 48px;
  }

  .jumbotron h1, .jumbotron .h1 {
    font-size: 48px;
  }
}

@media (min-width: 768px) {
  .lead {
    font-size: 18px;
  }
}