<div class="comic-container">
	<div class="comic-deco comic-deco-upper"></div>
	<img class="comic-img" src="{{ site.url }}{{ page.image_url }}" title="{{ page.hover_text }}" alt="Comic image" width="{{ page.image_width }}" height="{{ page.image_height }}" />
	<div class="comic-deco comic-deco-lower"></div>
</div>


<div class="notes-section">
	<button type="button" id="notes-button" aria-expanded="false" aria-controls="notes-text" onclick="toggleNotes()">View details for this issue</button>

	<div class="notes-text" id="notes-text">
		<p>
			<b>Date posted:</b>
			{{ page.date | date: "%A, %B" }} 
			{{ page.date | date: "%d" | plus:'0' }}, 
			{{ page.date | date: "%Y" }}
		</p>
		<p>
			<b>Hover text:</b>
			{{ page.hover_text }}
		</p>

		{% if page.has_notes %}
		<div class="notes-content">
			<b>Issue notes:</b>
			{{content}}
		</div>
		{% endif %}
	</div>
</div>