<footer class="site-footer">


</footer>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script>

$( document ).ready(function() {
	$("[data-toggle=popover]").popover({html:true})

	checkForOverflow();

	$(window).on('resize', checkForOverflow);

});

function checkForOverflow() {
	var container = $('#main_container');

	if(container[0].scrollHeight > container[0].clientHeight) {
		container.addClass('overflowing');
	} else {
		container.removeClass('overflowing');
	}
}


</script>