<header>
  <h1>
    <a href="{{ site.baseurl }}/">
      <div><b>Freaky T</b> and the <b>Disco Squad</b> present...</p></div>
      <div>Scrapinold Dooington</div>
      <div>in</div>
      <div>The <b>New Adventures</b> of <b>Scrapinold</b>: the <b>Later Years</b></div>
    </a>
  </h1>

  

{% assign is_post = false %}

{% unless page.id or page.url == '/index.html' %}
	{% assign is_post = true %}
{% endunless %}


  <!-- <ul class="nav">
    {% for p in site.pages %}
      {% if p.title and p.title != page.title %}
      	<li><a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul> -->

  {% unless page.url == '/about.html' %}
    <a href="about.html">About this publication</a>
  {% endunless %}

</header>