<header>
  {% unless page.url == '/about.html' %}
    <a class="link-about" href="about.html">About this Publication</a>
  {% endunless %}

  <h1 class="title">
    <a href="{{ site.baseurl }}/">
      <div class="title-by"><b>Freaky T</b> and the <b>Disco Squad</b> present...</div>
      <div class="title-scrapinold">Scrapinold Dooington</div>
      <div class="title-in">in</div>
      <div class="title-full">The <b>New Adventures</b> of <b>Scrapinold</b>: the <b>Later Years</b></div>
    </a>
  </h1>
  
{% assign is_post = false %}

{% unless page.id or page.url == '/index.html' %}
	{% assign is_post = true %}
{% endunless %}


  <!-- <ul class="nav">
    {% for p in site.pages %}
      {% if p.title and p.title != page.title %}
      	<li><a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul> -->

</header>