
<nav class="comic-nav">

  <div class="nav-container-back">
    {% if page.previous.url %}
    <a class="nav-first" href="{{site.posts.last.url}}">Initial Issue</a>
    <a class="nav-prev" id="prev_link" href="{{page.previous.url}}">Previous Issue</a>
    {% endif %} 
  </div>

  <div class="nav-container-spacer"></div>

  <!-- <div class="issue_indicator">Issue {{ page.issue }} of {{ site.posts.size}}</div> -->

  <div class="nav-container-special">
    <a class="nav-list" href="list.html" >List all past issues</a> 
    <a class="nav-random" href="random.html" >View a random issue</a> 
  </div>

  <div class="nav-container-spacer"></div>

  <div class="nav-container-forward">
    {% if page.next.url %}
      <a class="nav-next" id="next_link" class="{{disabled_class}}" href="{{page.next.url}}">Next Issue</a> 
      <a class="nav-current" href="/">Current Issue</a>  
    {% endif %} 
  </div>
</nav>
